.original-price {
    font-size: 12px;
    color: gray;
    text-decoration-line: line-through;
}
.discount-price {
    font-size: 15px;
    font-weight: bold;
}
.price {
    font-size: 15px;
    font-weight: bold;
}
a {
    text-decoration:unset !important;
}
