// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// Login
@import 'login';
// Home
@import "home";
// Product detail
@import "productdetail";

// Cart
@import "cart";

@import "shop";
